body{
    background-color: chocolate;
    color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: blanchedalmond 1px solid;
    margin: 20px auto;
}

#header{
    width: 70%;
    padding: 1em;
    border: blanchedalmond 1px solid;
    margin: 20px auto;
    text-align: center;
}

#header h1{
    margin: auto 0;
}

#footer {
    font-size: 1.5em;
    width: 70%;
    padding: 1em;
    border: blanchedalmond 1px solid;
    margin: 20px auto;
    text-align: center;
}

#footer p{
    margin: 0;
}